:root {
    --main-color: #035aa6;
  }

body {
    height: 100%;
    background-color: #ffff;
    font-family: helvetica;
    display: flex;
    flex-direction: column;
}

.input-container {
    width: 100%;
    height: 200px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

}

.buttons-div {
    grid-row: 1 / 2;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-size: 1.5em;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.other-buttons {
    background-color: #3f3f44;
    color: #ffff;
}

.other-buttons:active {
    background-color: black;
}

.sort-button {
    background-color: var(--main-color);
    color: #ffff;
}

.sort-button:active {
    background-color: #00005c;
}

.sliders-div {
    grid-row: 0 / 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.slider-div-child {
    width: 100%;
    margin: 0 2%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.slider-delay-label {
    /* to line the sliders up */
    margin-right: 32px;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
  }


.output-container {
    width: 100%;
    height: 600px;

    display: flex;
}

#plot {
    border: solid;
    border-width: thin;
    width:100%;
    margin: 5% 10%;
    padding: 10px 20px;

    display: flex;
    align-items: flex-end;
}


#plot div {
    border: solid;
    border-width: thin;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

@media only screen and (max-width: 600px) {
    button  {
        /* font-size: 1em; */
        padding: 3px 6px;
        margin: 1px 0; 
    }
    .slider-div-child {
        width: 80%;
    }
    .slider {
        margin-right: 20px;
    }

    .input-container {
        font-size: 1em;
    }

    .buttons-div {
        flex-direction: column;
    }
}

@media only screen and (max-height: 825px) {
    .output-container {
        height: 350px;
    }
}